# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Environment variables
.env

# IDEs & OS
.vscode/
.idea/
*.swp
*.swo
Thumbs.db
Desktop.ini
.DS_Store

# Logs
*.log

# File nén backup
*.zip
